@{
    ViewBag.Title = "New Menu";
}
@model CheeseMVC.ViewModels.AddMenuViewModel


<form class="form-control" asp-controller="Menu" asp-action="Add">
    <div class="form-group">
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add Menu" />
    </div>
</form>