@{ 
    ViewBag.Title = Model.Menu.Name;
}
@using CheeseMVC.Models
@model CheeseMVC.ViewModels.ViewMenuViewModel


@if (Model.Items.Count() > 0)
{
    <ul>
        @foreach (CheeseMenu item in Model.Items)
        {
            <li>@item.Cheese.Name</li>
        }
    </ul>
    <a asp-controller="Menu" asp-action="AddItem" asp-route-id=@Model.Menu.ID></a>
}
else {
    <p>No items in this @Model.Menu.Name</p>
}